@inject ILayoutService _layoutService
@{
    var settings = await _layoutService.GetSettingsAsync();
    var attendances = await _layoutService.GetAttendancesAsync();
    var selectedLanguage = _layoutService.GetSelectedLanguage();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dunker – Fashion and Clothing Shop Theme</title>
    <link rel="shortcut icon" href="~/assets/img/cropped-favicon-32x32.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/assets/img/cropped-favicon-32x32.png" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/9.3.0/mmenu.min.css"
          integrity="sha512-nNatP1G6CEh43irXY/GN4cDcLRX/R0jAYAV/ulFZcotSXcuIQE5Do4TuDOYNAD2SCIpmIbaYSllyjTysSCkpEw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @await RenderSectionAsync("Styles", false)

</head>

<body>
    <!-- Header Section Start -->
    <header id="header">
        <div class="discount-message d-lg-block d-none">
            <a href="#" class="message">
                10% DISCOUNT FOR REGISTERED USERS & FREE SHIPPING FOR ORDERS OVER $70
                PLUS FREE RETURNS
            </a>
            <button class="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <!-- Navbar Start -->
        <nav id="nav" class="d-lg-block d-none">
            <div class="navbar-container">
                <div class="leftside-nav">
                    <div class="logo">
                        <img src="~/assets/img/logo.png" alt="Dark Dunker" />
                    </div>
                </div>
                <div class="middle-nav">
                    <ul class="navbar-items">
                        <li class="navbar-item active">
                            <a href="#" class="navbar-link">HOME</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">SHOP</a>
                            <div class="multiple">
                                <ul class="multiple-subMenu text-uppercase">
                                    <li class="multiple-subMenu-items">
                                        <span href="#" class="multiple-subMenu-heading">
                                            Product Types
                                        </span>
                                        <ul class="multiple-subMenu-item text-uppercase">
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">STANDARD</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">NEW PRODUCT</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">SALE PRODUCT</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">SOLD PRODUCT</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">FIXED INFO</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">VIRTUAL</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="multiple-subMenu-items">
                                        <span href="#" class="multiple-subMenu-heading">
                                            Contact Us
                                        </span>
                                        <ul class="multiple-subMenu-item text-uppercase">
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">Contact Us</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">Our Brands</a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">
                                                    Terms & Conditions
                                                </a>
                                            </li>
                                            <li class="multiple-item">
                                                <a href="#" class="multiple-link">About Us</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">OUR TEAM</a>
                            <ul class="subMenu text-uppercase">
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-link">Contact Us</a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-link">Our Brands</a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-link">Terms & Conditions</a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-link">About Us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">BLOG</a>
                        </li>
                        <li class="navbar-item">
                            <a href="#" class="navbar-link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="rightside-nav">
                    <div class="action-icons">
                        <span style="cursor: pointer" class="search" onclick="openSearch()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>

                        <div id="searchOverlay" class="overlay">
                            <span class="closebtn" onclick="closeSearch()"><i class="fa-solid fa-xmark"></i></span>
                            <div class="overlay-content">
                                <h1>What are you looking for?</h1>
                                <input id="searchInput" type="text" placeholder="Search..." onkeydown="checkEnter(event)" />
                                <button type="button" onclick="performSearch()">
                                    Search
                                </button>
                            </div>
                        </div>

                        <div class="account-container">
                            <span style="cursor: pointer" class="account">
                                <i class="fa-regular fa-user"></i>
                            </span>
                            <div class="account-dropdown">
                                <p class="name">John Doe</p>
                                <p class="position">Software Engineer</p>
                                <button class="btn">View Profile</button>
                            </div>
                        </div>

                        <a href="./wishlist.html">
                            <span class="wish"><i class="fa-regular fa-heart"></i></span>
                        </a>
                        <div class="account-container2">
                            <select class="changeCultureInput">
                                @if (selectedLanguage == "en")
                                {
                                    <option value="az">AZE</option>
                                    <option value="en" selected>ENG</option>
                                    <option value="ru">RUS</option>
                                }
                                else if (selectedLanguage == "ru")
                                {

                                    <option value="az">AZE</option>
                                    <option value="en">ENG</option>
                                    <option value="ru" selected>RUS</option>
                                }
                                else
                                {
                                    <option value="az" selected>AZE</option>
                                    <option value="en">ENG</option>
                                    <option value="ru">RUS</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="basket basket-btn">
                        <span class="basket-icon d-flex justify-content-center align-items-center gap-1">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <span class="count-basket">0</span>
                        </span>
                        <div class="basket-container"></div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Mobile Nav Start-->
        <div class="mobile-header d-block d-lg-none">
            <div class="mobile-header-top">
                <div class="mobile-nav-container">
                    <div class="mobile-nav-left">
                        <a href="./index.html">
                            <div class="dark-logo">
                                <img src="./assets/img/Mobile-logo.png" alt="DunkerDark" />
                            </div>
                        </a>
                    </div>
                    <div class="mobile-nav-right">
                        <div class="mobile-nav-actions">
                            <div class="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="mobile-nav-basket">
                                <a href="#" class="basket-btn basket-icon d-flex justify-content-center align-items-center gap-1">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    <span class="count-basket">0</span>
                                </a>
                                <div class="basket-container"></div>
                            </div>
                            <div class="account-container2">
                                <select name="" id="">
                                    <option value="Az">Az</option>
                                    <option value="Eb">En</option>
                                </select>
                            </div>
                            <div class="menu-btn">
                                <div class="menu-btn__burger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="mobile-nav" class="mobile-navbar">
                <ul class="mobile-navbar-items">
                    <li class="mobile-navbar-item text-uppercase">
                        <a href="#" class="mobile-navbar-link">
                            Home
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a href="#" class="mobile-navbar-link">
                            Shop
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="mobile-subMenu-items">
                            <li class="mobile-subMenu-item text-uppercase">
                                <a href="#" id="sup" class="mobile-subMenu-link">
                                    Product Types
                                </a>
                            </li>
                            <li class="mobile-subMenu-item text-uppercase">
                                <a href="#" class="mobile-subMenu-link">Contact Us</a>
                            </li>
                            <li class="mobile-subMenu-item text-uppercase">
                                <a href="#" class="mobile-subMenu-link">Terms & Conditions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a href="#" class="mobile-navbar-link">
                            Our Team
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="mobile-subMenu-items">
                            <li class="mobile-subMenu-item">
                                <a href="#" class="mobile-subMenu-link">Contact Us</a>
                            </li>
                            <li class="mobile-subMenu-item text-uppercase">
                                <a href="#" class="mobile-subMenu-link">Our Brands</a>
                            </li>
                            <li class="mobile-subMenu-item text-uppercase">
                                <a href="#" class="mobile-subMenu-link">Terms & Conditions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a href="#" class="mobile-navbar-link">
                            Blog
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a href="#" class="mobile-navbar-link">
                            Faq
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Mobile Nav End-->
        <!-- Basket Sidebar -->
        <div class="basket-sidebar">
            <div class="basket-sidebar-content">
                <div class="basket-sidebar-header">
                    <h4>Shopping Cart</h4>
                    <a href="#" class="button-close mb-2">
                        <i class="fa-solid fa-x"></i>
                    </a>
                </div>
                <div class="basket-products">
                    <div class="basket-product">
                        <a class="basket-img" href="#">
                            <img src="./assets/img/shop-list-filter-1-600x750.jpg" alt="Product" />
                        </a>
                        <div class="basket-product-content">
                            <a href="#" class="product-category">Fitness</a>
                            <a href="#" class="product-item">WHITE SHIRT</a>
                            <span class="product-cost">$45</span>
                        </div>
                        <a href="#" class="remove-basket">
                            <i class="fa-solid fa-x"></i>
                        </a>
                    </div>
                </div>
                <div class="basket-total">
                    <span>Subtotal:</span>
                    <span class="amount">0</span>
                </div>
                <div class="basket-buttons">
                    <a href="#" class="custom-button">View Cart & Checkout</a>
                </div>
            </div>
        </div>


    </header> <!-- Header Section End -->
    @RenderBody()



    <!-- Footer Start -->
    <footer id="footer">
        <div class="content">
            <div class="content-bottom">
                <div class="row content-bottom-row align-items-center">
                    <div class="content-logo col-lg-3 col-md-6 col-12">
                        <img src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/02/Dunker-logo-dark.png" alt="" />
                    </div>
                    @foreach (var attendance in attendances)
                    {
                        <div class="services col-lg-3 col-md-6 col-12">
                            <div>
                                <img src="@attendance.ImagePath" />
                            </div>
                            <span>@attendance.Name</span>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <h5>Information</h5>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Sale

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PI Collection Notice

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Do Not Sell My Info

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Accessibility Commitment

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Investor Relations

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <h5>Information</h5>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Sale

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PI Collection Notice

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Do Not Sell My Info

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Accessibility Commitment

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Investor Relations

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <h5>Information</h5>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Sale

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PI Collection Notice

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Do Not Sell My Info

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Accessibility Commitment

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Investor Relations

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <h5>Information</h5>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">
                                Terms of Sale

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                PI Collection Notice

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Do Not Sell My Info

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Accessibility Commitment

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Investor Relations

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="middle-footer">
                <div class="row">
                    <div class="col-lg-6 col-12 p-lg-0 pb-5">
                        <div class="footer-form">
                            <h5>NEWSLETTER</h5>
                            <p>
                                Dunker has all of the best products from all of the top
                                brands.
                            </p>
                            <div class="form-email">
                                <input type="email" class="send-email" placeholder="YOUR EMAIL" />
                                <span class="arrow-right">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="location col-lg-3 col-md-6 col-12">
                        <h5>LOS ANGELES</h5>
                        <address>
                            <h6 class="footer-heading">
                                <a href="tel:+738115709479">7(382)157-09-474</a>
                            </h6>
                            <h6 class="footer-heading">
                                <a href="#">
                                    90A TOLBUHINA LOREM ORIGINAL LOS ANGELES, CA 200153
                                </a>
                            </h6>
                            <h6 class="footer-heading">
                                <a href="#">MON-SAT: 09:00-19:00</a>
                            </h6>
                        </address>
                    </div>
                    <div class="location col-lg-3 col-md-6 col-12">
                        <h5>LOS ANGELES</h5>
                        <address>
                            <h6 class="footer-heading">
                                <a href="tel:+738115709479">7(382)157-09-474</a>
                            </h6>
                            <h6 class="footer-heading">
                                <a href="#">
                                    90A TOLBUHINA LOREM ORIGINAL LOS ANGELES, CA 200153
                                </a>
                            </h6>
                            <h6 class="footer-heading">
                                <a href="#">MON-SAT: 09:00-19:00</a>
                            </h6>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="copyright">
                    <span>
                        © 2023
                        <a href="#">Qode Interactive</a>
                        , All Rights Reserved
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./assets/js/productCardSlider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js
    "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
            integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>

    <script>
        const changeLangInput=document.querySelector('.changeCultureInput');

        changeLangInput.addEventListener('change',()=>{
            window.location.href=`/Home/SelectCulture?culture=${changeLangInput.value}`
        })
    </script>
    <script>
          const wishlistButtons = document.querySelectorAll(".add-to-fav-button")

        wishlistButtons.forEach(btn=>{
            btn.addEventListener("click",async (e)=>{
                e.preventDefault();

               await fetch(`/Wishlist/AddItem/${btn.dataset.productid}`)
                btn.children[0].classList.toggle("fa-regular")
                btn.children[0].classList.toggle("fa-solid")
            })
        })
    </script>
    <script src="./assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>